body{
	background-color: #2c3a3a;
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
}

footer{
	background-color: #353559;
	text-align: center;
}

#logo{
	width: 180px;
	height: 180px;
	display: inline;
}

#descripcion{
	color: aliceblue;
}

#titulo{
	font-family: menlo;
	color: #fff;
	margin: auto;
	font-size: 40px;
}

header{
	background-color: #353559;
}

.cuerpo{
	width: 800px;
	margin: auto;
}

p{
	color: #c0c0c0;
}

h1{
	color: #fff;
}
a{
	text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  font-size: 28px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover{
	background-color: #353559;
}